<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Eiffel Corp Bike</title>
</head>
<body style="background-color: #424549">
  <form action="#"  th:action="@{/EiffelBikeCorp/lease}" method="post" th:object="${formBike}">
    <h2>Enter your Bike information : </h2>
    <div><label style="color: #7289da" for="n">Name:</label>
      <input id="n" type="text" name="name" th:field="*{name}">
      <span  th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalid name</span></div>
    <div><label style="color: #7289da" for="p">Price:</label>
      <input type="text" id="p" name="price" th:field="*{price}">
      <span  th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Invalid price</span></div>
    <div>
      <button style="border-radius: 6px" type="submit">Lease</button></div>
  </form>
  <button style="border-radius: 6px; background-color: #7289da" onclick="location.href='http://localhost:8081/EiffelBikeCorp/hub'">Back</button>
</body>
</html>